@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #0e1217;
}

@layer components {
  .typo {
    font-size: 15px;
    line-height: 20px;
  }
  .triangle-up {
    top: -6px;
    right: 3px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
  }
  .triangle-down {
    bottom: -7px;
    right: 3px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #22252d;
  }
  .input__field {
    @apply shadow-lg rounded-md py-2 px-2 mb-6 text-primary leading-tight bg-input focus:outline-none focus:bg-[#323743] focus:border-primary border border-transparent;
  }

  .button__primary {
    @apply flex px-4 py-[8px] bg-white rounded-[12px] font-semibold border leading-[20px] hover:bg-primary text-sm sm:typo hover:shadow-lg;
  }
  .icon {
    @apply hover:bg-dark p-1 mr-1 rounded-lg cursor-pointer;
  }
  .icon_sidebar svg {
    width: 20px;
    height: 20px;
  }
  .icon_green svg circle {
    fill: #1aaa67;
  }
  .icon_green svg path {
    stroke: #1aaa67;
  }
  .icon_green svg line {
    stroke: #1aaa67;
  }
  .icon_green svg polyline {
    stroke: #1aaa67;
  }
}
